imagedata/zalazone_Egyetemi-palya_orthophoto.tif
imagedata/smartcity_ortofoto_20220825.tif
imagedata/73-341_o_2008.tif
__pycache__/armap_ros2.cpython-312.pyc
__pycache__/circular_gauge.cpython-312.pyc
__pycache__/table_widget.cpython-312.pyc
